.headerproperties {
    display: flex;
    justify-content: space-between;
 background-color: #111827; /* Deep Charcoal */
    color: #F9FAFB;
    padding: 15px 25px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
}

.taskcontainer {
    
   background-color: #1F2937; /* Dark Gray */
    color: #E5E7EB;
    padding: 30px;
}

.taskbody {
    /* border: 1px solid black; */
    align-items: center;
    /* padding: 20px 40px; */
}

.table-success{
    background-color:#1F2937; ;
}
